body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Pig_farm_Vampula_9.jpg/1920px-Pig_farm_Vampula_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1{
  color: red;
  font-size: 150px;
  text-align: center
}
h1:hover {
  color: orange;
}

h1:after {
 content: "I Love Bacon";
}

h1:hover:after {
  content: "How 'bout you?";
}



p{

  color: white;
  font-family: "Lucida handwriting", "Courier New", monospace;
  font-size: 50px;
  text-align: center
}
